CREATE PROCEDURE [dbo].[OHRC_SP_CIERRE_ANUAL_NOM]    
		
		@pvTipoNom VARCHAR(2),
		@piPeriodoAnual INT,
		@pvFecha VARCHAR(8),
		@pvTipoPeriodo VARCHAR(1),
		@psMsg VARCHAR(MAX) = '' OUTPUT,
	    @piResult INT = 0 OUTPUT
		

AS
BEGIN 
	/*      
	______________________________________________________________________________________      
	Nombre de Objeto:	OHRC_SP_CIERRE_ANUAL_NOM
	Tipo de Objeto:		SP     
	Autor:				SBP
	Objetivo:			Generacion calendario 
	Parametros: N/A
	Forma de ejecución: 

		DECLARE @liResult INT, @lsMsg VARCHAR(300)
		SET NOCOUNT ON;
		EXEC [dbo].[OHRC_SP_CIERRE_ANUAL_NOM] 
		'F3', 
		2026, 
	   '20260101',
	   'N'
		@lsMsg OUTPUT,@liResult OUTPUT


	Modificaciones:      
	Fecha			Desarrollador	Notas del cambio      
	===========     =============	=================================      
	20250303		SBP				Desarrollo inicial      

	_______________________________________________________________________________________      
	*/ 
BEGIN  TRY
BEGIN TRAN
		---------------------------------------------------------------------------------------
		-- Declaración de variables
		---------------------------------------------------------------------------------------
		DECLARE 
			@i INT = 1,
			@lianio INT,
			@limes INT,
			@lidia INT,
			@liSemanaInicio VARCHAR(8),
			@liSemanaFin VARCHAR(8),
			@liQuincenaFecha VARCHAR(8),  -- Variable para la fecha de la quincena en formato 'yyyyMMdd'
			@liUltimoDiaMes INT,       -- Último día del mes
			@li_Dias_periodo INT,
			@limesFormateado VARCHAR(2)
		
		---------------------------------------------------------------------------------------
		-- NOMINA SEMANAL
		---------------------------------------------------------------------------------------
	IF @pvTipoNom = @pvTipoNom AND EXISTS (SELECT 1 FROM an_tipos WHERE tipo_nom = @pvTipoNom AND periodicidad = 'S')
	BEGIN 
		SET @liSemanaInicio = @pvFecha;
		SET @liSemanaFin = CONVERT(VARCHAR(8), DATEADD(DAY, 6, CAST(@liSemanaInicio AS DATE)), 112)
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin)AS VARCHAR(2)), 2)
		----------------------------------------------------------------------------------------
		DELETE FROM an_cal_periodos
		WHERE tipo_nom = @pvTipoNom
		AND periodo_anual = @piPeriodoAnual
		---------------------------------------------------------------------------------------
		-- Bucle para generar el calendario semanal
		---------------------------------------------------------------------------------------
	WHILE YEAR(@liSemanaInicio) <= @piPeriodoAnual
	BEGIN
		-----------------------------------------------------------------------------------------
		-- Insertar datos en la tabla
		-----------------------------------------------------------------------------------------
	   IF @@ROWCOUNT = 0  
	    BEGIN
		INSERT an_cal_periodos
		VALUES (@pvTipoNom,@piPeriodoAnual , @i, @liSemanaInicio, @liSemanaFin, 7, @limesFormateado, '', '',@pvTipoPeriodo, '', '', '', '', '', '', 0.00, 0.00, 0.00, 0.00, 0.00, '', '');
	   END
		-- Incrementar el contador
		SET @i = @i + 1;

		-- Calcular la siguiente semana (7 días después)
		SET @liSemanaInicio = CONVERT(VARCHAR(8), DATEADD(DAY, 7, CAST(@liSemanaInicio AS DATE)), 112)
		SET @liSemanaFin = CONVERT(VARCHAR(8), DATEADD(DAY, 6, CAST(@liSemanaInicio AS DATE)), 112)
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin)AS VARCHAR(2)), 2)
	END 
	END
		---------------------------------------------------------------------------------------
		-- NOMINA DIA
		---------------------------------------------------------------------------------------
	IF @pvTipoNom LIKE '_B'
	BEGIN 
		SET @liSemanaInicio = @pvFecha
		SET @liSemanaFin = @liSemanaInicio 
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin)AS VARCHAR(2)), 2)
	
		DELETE FROM an_cal_periodos
		WHERE tipo_nom = @pvTipoNom
		AND periodo_anual = @piPeriodoAnual
		---------------------------------------------------------------------------------------
		-- Bucle para generar el calendario semanal
		---------------------------------------------------------------------------------------
		WHILE YEAR(@liSemanaInicio) <= @piPeriodoAnual
		BEGIN
		-----------------------------------------------------------------------------------------
		-- Insertar datos en la tabla
		----------------------------------------------------------------------------------------
		IF @@ROWCOUNT = 0  
		BEGIN
			INSERT INTO an_cal_periodos
			VALUES (@pvTipoNom, @piPeriodoAnual, @i, @liSemanaInicio,
			@liSemanaFin, 1, @limesFormateado, '', '',@pvTipoPeriodo, '', '', 
			'', '', '', '', 0.00, 0.00, 0.00, 0.00, 0.00, '', '');
		END
		-- Incrementar el contador
		SET @i = @i + 1;

		-- Calcular la siguiente semana 
		SET @liSemanaInicio = CONVERT(VARCHAR(8), DATEADD(DAY, 1, CAST(@liSemanaInicio AS DATE)), 112)
		SET @liSemanaFin = @liSemanaInicio
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin)AS VARCHAR(2)), 2)

	END 
	END
		---------------------------------------------------------------------------------------
		-- CATORCENAL
		---------------------------------------------------------------------------------------
	IF @pvTipoNom = @pvTipoNom AND EXISTS (SELECT 1 FROM an_tipos WHERE tipo_nom = @pvTipoNom AND periodicidad = 'C')
	BEGIN 
		SET @liSemanaInicio = @pvFecha
		SET @liSemanaFin = CONVERT(VARCHAR(8), DATEADD(DAY, 13, CAST(@liSemanaInicio AS DATE)), 112)
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin)AS VARCHAR(2)), 2)

		DELETE FROM an_cal_periodos
		WHERE tipo_nom = @pvTipoNom
		AND periodo_anual = @piPeriodoAnual
		---------------------------------------------------------------------------------------
		-- Bucle para generar el calendario semanal
		---------------------------------------------------------------------------------------
		WHILE YEAR(@liSemanaInicio) <= @piPeriodoAnual
		BEGIN
		-----------------------------------------------------------------------------------------
		-- Insertar datos en la tabla
		----------------------------------------------------------------------------------------
		IF @@ROWCOUNT = 0  
		BEGIN
		INSERT INTO an_cal_periodos
			VALUES (@pvTipoNom,@piPeriodoAnual, @i, @liSemanaInicio, @liSemanaFin, 14, 
			@limesFormateado, '', '', @pvTipoPeriodo, '', '', '', '', '', '', 
			0.00, 0.00, 0.00, 0.00, 0.00, '', '')
		END 
		-- Incrementar el contador
		SET @i = @i + 1;

		-- Calcular la siguiente semana (14 días después)
		SET @liSemanaInicio = CONVERT(VARCHAR(8), DATEADD(DAY, 14, CAST(@liSemanaInicio AS DATE)), 112)
		SET @liSemanaFin = CONVERT(VARCHAR(8), DATEADD(DAY, 13, CAST(@liSemanaInicio AS DATE)), 112)
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin)AS VARCHAR(2)), 2)

	END 
	END
		---------------------------------------------------------------------------------------
		-- MENSUAL
		---------------------------------------------------------------------------------------
	IF @pvTipoNom = @pvTipoNom AND EXISTS (SELECT 1 FROM an_tipos WHERE tipo_nom = @pvTipoNom AND periodicidad = 'M')
	BEGIN 
		SET @liSemanaInicio = @pvFecha
		SET @liSemanaFin = CONVERT(VARCHAR(8), EOMONTH(CAST(@liSemanaInicio AS DATE)), 112)
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin) AS VARCHAR(2)), 2)


		DELETE FROM an_cal_periodos
		WHERE tipo_nom = @pvTipoNom
		AND periodo_anual = @piPeriodoAnual
		---------------------------------------------------------------------------------------
		-- Bucle para generar el calendario mensual
		---------------------------------------------------------------------------------------
	WHILE YEAR(@liSemanaInicio) <= @piPeriodoAnual
	BEGIN
		-----------------------------------------------------------------------------------------
		-- Insertar datos en la tabla
		-----------------------------------------------------------------------------------------
	IF @@ROWCOUNT = 0  
	BEGIN
			INSERT INTO an_cal_periodos
			VALUES (@pvTipoNom, @piPeriodoAnual, @i, @liSemanaInicio,
			@liSemanaFin, DATEDIFF(DAY, @liSemanaInicio, @liSemanaFin) + 1,
			@limesFormateado, '', '', @pvTipoPeriodo, '', '', '', '', '', '', 
			0.00, 0.00, 0.00, 0.00, 0.00, '', '');
    END 
			-- Incrementar el contador
			SET @i = @i + 1;

			-- Calcular el siguiente mes
			SET @liSemanaInicio = CONVERT(VARCHAR(8), DATEADD(DAY, 1, CAST(@liSemanaFin AS DATE)), 112)
			SET @liSemanaFin = CONVERT(VARCHAR(8), EOMONTH(CAST(@liSemanaInicio AS DATE)), 112)
			SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin) AS VARCHAR(2)), 2)
	END 
	END

	---------------------------------------------------------------------------------------
	-- NOMINA QUINCENAL 
	---------------------------------------------------------------------------------------

   IF @pvTipoNom = @pvTipoNom AND EXISTS (SELECT 1 FROM an_tipos WHERE tipo_nom = @pvTipoNom AND periodicidad = 'Q')
BEGIN 
    SET @liSemanaInicio = @pvFecha
    SET @liSemanaFin = CASE 
                        WHEN DAY(@liSemanaInicio) <= 15 THEN CONVERT(VARCHAR(8), DATEADD(DAY, 14, CAST(@liSemanaInicio AS DATE)), 112)
                        ELSE CONVERT(VARCHAR(8), EOMONTH(CAST(@liSemanaInicio AS DATE)), 112)
                       END
    SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin) AS VARCHAR(2)), 2)

    DELETE FROM an_cal_periodos
    WHERE tipo_nom = @pvTipoNom
    AND periodo_anual = @piPeriodoAnual
    ---------------------------------------------------------------------------------------
    -- Bucle para generar el calendario quincenal
    ---------------------------------------------------------------------------------------
    WHILE YEAR(@liSemanaInicio) <= @piPeriodoAnual
    BEGIN
        -----------------------------------------------------------------------------------------
        -- Insertar datos en la tabla
        -----------------------------------------------------------------------------------------
        IF @@ROWCOUNT = 0  
        BEGIN
            INSERT INTO an_cal_periodos
            VALUES (@pvTipoNom, @piPeriodoAnual, @i, @liSemanaInicio,
            @liSemanaFin, DATEDIFF(DAY, @liSemanaInicio, @liSemanaFin) + 1,
            @limesFormateado, '', '', @pvTipoPeriodo, '', '', '', '', '', '', 
            0.00, 0.00, 0.00, 0.00, 0.00, '', '');
        END 

        -- Incrementar el contador
        SET @i = @i + 1;

        -- Calcular la siguiente quincena
        SET @liSemanaInicio = CONVERT(VARCHAR(8), DATEADD(DAY, 1, CAST(@liSemanaFin AS DATE)), 112)
        SET @liSemanaFin = CASE 
                            WHEN DAY(@liSemanaInicio) <= 15 THEN CONVERT(VARCHAR(8), DATEADD(DAY, 14, CAST(@liSemanaInicio AS DATE)), 112)
                            ELSE CONVERT(VARCHAR(8), EOMONTH(CAST(@liSemanaInicio AS DATE)), 112)
                           END
        SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin) AS VARCHAR(2)), 2)
 
	END 
	END
	---------------------------------------------------------------------------------------
	-- ANUAL
	---------------------------------------------------------------------------------------
	IF @pvTipoNom = @pvTipoNom AND EXISTS (SELECT 1 FROM an_tipos WHERE tipo_nom = @pvTipoNom AND periodicidad = 'A')
	BEGIN 

		SET @liSemanaFin = CONVERT(VARCHAR(8), DATEADD(DAY, 364, CAST(@pvFecha AS DATE)), 112)
		SET @limesFormateado = RIGHT('00' + CAST(MONTH(@liSemanaFin)AS VARCHAR(2)), 2)

		DELETE FROM an_cal_periodos
		WHERE tipo_nom = @pvTipoNom
		AND periodo_anual = @piPeriodoAnual
		----------------------------------------------------------------------------------------
		-- Insertar datos en la tabla
		----------------------------------------------------------------------------------------
		INSERT an_cal_periodos
		VALUES (@pvTipoNom, @piPeriodoAnual,1, @pvFecha, @liSemanaFin,
		365, @limesFormateado, '', '',@pvTipoPeriodo, '', '', '', '', '', '',
		0.00, 0.00, 0.00, 0.00, 0.00, '', '')
   
	END

	---------------------------------------------------------------------------------------------
	SET @piResult = 0
	SET @psMsg = 'Proceso concluyó satisfactoriamente'

	COMMIT TRAN	

	END TRY	
	BEGIN CATCH
	ROLLBACK TRANSACTION
	DECLARE @ls_error_message NVARCHAR(4000)='';
	DECLARE @li_error_severity INT=0;
	DECLARE @li_error_state INT=0;

	SELECT @ls_error_message = ERROR_MESSAGE(), @li_error_severity = ERROR_SEVERITY(), @li_error_state = ERROR_STATE();

	RAISERROR (@ls_error_message, @li_error_severity, @li_error_state );
	--PRINT 'Ocurrio un error en el proceso [ACUMULA_X_TIPO_NOMINA]'

	IF @li_error_severity <> 0
	BEGIN
		SET @psMsg = 'Ocurrio un error en BD: ' +  @ls_error_message
		SET @piResult = @li_error_severity 
	END 
		

	RETURN @piResult

	
	END CATCH
	SELECT @piResult Result, @psMsg Msg

END

